{
    "printWidth": 120,
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": false,
    "trailingComma": "es5",
    "bracketSpacing": true,
    "arrowParens": "always",
    "endOfLine": "lf",
    "php": {
        "version": "8.2",
        "printWidth": 120,
        "tabWidth": 4,
        "useTabs": false,
        "trailingCommaPHP": true,
        "braceStyle": "psr12",
        "requirePragma": false,
        "insertPragma": false,
        "parser": "php"
    }
}
