VITE_API_URL=http://localhost:8000
VITE_MERCURE_URL=http://localhost:3001/.well-known/mercure
VITE_MERCURE_PUBLIC_URL=http://localhost:3001/.well-known/mercure
VITE_APP_NAME=Cuisinous Dashboard
VITE_APP_VERSION=1.0.0
